:root {
	--var-light: #e6e6fa;
	--var-purpleL: #e0b0ff;
	--var-purpleBright: #ee82ee;
	--var--purpleM: #da70d6;
	--var-purpleD: #66023c;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--var-light);
	width: 100vw;
	/* height: 100vh; */
	background-color: var(--var--purpleM);
}

#app,
#quiz,
#resultWin {
	background-color: var(--var--purpleM);
	height: 100%;
}
#app {
	margin: 4rem 10rem 0;
}
#quiz,
#resultWin {
	margin: 4rem 10rem 0;
}
.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 4.2rem;
	margin: 2rem 2rem 4rem;
}
h2 {
	font-size: 3.8rem;
	margin: 0 2rem 3rem;
}

p {
	font-size: 1.8rem;
	text-align: center;
	margin: 2rem 4rem;
	color: var(--var-purpleD);
}
/* ADD TRANSITION & hover */
.btn {
	font-size: 1.6rem;
	margin: 4rem 4rem 0 0;
	align-self: flex-end;
	padding: 0.8rem 2rem;
	border-radius: 1.8rem;
	text-transform: uppercase;
	background-color: var(--var-purpleD);
	color: var(--var-light);
	letter-spacing: 0.1rem;
	border: none;
}

.text {
	font-size: 1.8rem;
	margin: 1rem;
	width: 80%;
	padding: 0.8rem;
	background-color: var(--var-purpleBright);
	color: rgb(19, 18, 18);

	transition: background-color 1s ease;
}
.text:hover {
	cursor: pointer;
	background-color: var(--var-light);

	color: rgb(32, 30, 30);
}
#output {
	margin: 3rem 0 0;
	font-size: 2.2rem;
	font-style: italic;
	color: var(--var-purpleD);
}
.result-container {
    display: flex;
    flex-direction: column;
}
#result-form {
    margin: 6rem 0 0;
	font-size: 1rem;
	display: flex;
	align-items: flex-end;
	width: 50%;
	height: 20%;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
        padding: 2rem 0;
    background-color: var(--var-purpleD);
}
#win,
#label,
#submit {
	margin: 0 0 0 0.5rem;
	padding: 0.5rem;
	/* color: rgb(32, 30, 30); */
    color: var(--var-purpleL);
}
#submit {
	text-decoration: none;
	margin: 0 1rem;
    font-size: 0.8rem;
    background-color: var(--var-light);
    color: var(--var-purpleD);
}
.button {
    display: flex;
    
}
.end-btn {
	    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 1.8rem;
    text-transform: uppercase;
    background-color: var(--var-purpleD);
    color: var(--var-light);
    letter-spacing: 0.05rem;
    border: none;
}
.margin {
    margin: 6rem 6rem 0;
    justify-content: space-between;
}
li {
    font-size: 1.8rem;
    color: var(--var-purpleD);
}

/* ADD STYLES TO SCORE DISPLAY CLASS=EXTRA */